@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Alexandria', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

body {
    background-color: #9b8889;
}

.master-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container {
    display:flex;
    align-items: center;

    width: 360px;
    height: 100px;
    background-color: #cec2b4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-in-screen {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 5px;
    font-weight:400;
    font-size: 30px;
    width: 360px;
    word-wrap: break-word;
    color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    background-color:#cec2b4;
}

.item {
    color: whitesmoke;
    background-color: #bebeac;
    border: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: 0.4s;
}

button:active {
    transform: translateY(2px);
    background-color:#a3a397;
}

button:hover {
    background-color:#adad97;
}

.bottom-of-container {
    height: 10px;
    width: 360px;
    background-color: #bebeac;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}